﻿body {
}

#header-div {
    background-color: #17202A;
}

#header-nav ul li a {
    color: white;
}

.footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17202A;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    /*border-top: solid;
    border-top-color: #17202A;*/
}

.navbar-brand {
    color: #17202A;
}body {
}
