﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Code_Display.ascx.cs" Inherits="portfolio.usercontrols.Code_Display" %>
<asp:DataGrid ID="code_Example" runat="server" CssClass="code"
        GridLines="None" Width="490px"  CellPadding="2"  >
        
            
    </asp:DataGrid>