﻿body {
}
#header-div{
    background-color: white;
}
#header-nav ul li a {
    color: #17202A;
}
.footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #17202A;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    border-top: solid;
    border-top-color: #17202A;
}
.navbar-brand {
    color: #17202A;
}