﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Connect.aspx.cs" Inherits="portfolio.Connect" %>

<asp:Content ID="Content6" ContentPlaceHolderID="fullscreen" runat="server">
   <div  id="feedback-div"><!--NOT ABLE TO GET FORM IN CENTER-->
       <h2 style="text-align: center;">Feedback</h2>
		<form class="form text-center form1" >
			
			<input type="text" name="name" id="nameText" placeholder="Name">
			<br/>
			<input type="text" name="email" id="emailTxt" placeholder="Email">
			<br/>
			<textarea name="comment" id="commentTxt" placeholder="Comments"></textarea>
			<br/>
			<input type="submit" value="Submit">
		</form>
	</div>
</asp:Content>
