﻿
.footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17202A;
    color: white;
    text-align: center;
    margin: 0;
    margin-top:40px;
 
}
.code {
    white-space: pre-wrap;
    font-family: 'Source Code Pro', sans-serif;
    margin-bottom:40px;
    overflow:scroll;
}
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#commentTxt {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#sideTitle {
    font-size: 1em;
    font-weight: bold;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#feedback-div {
    /* align-content:center;
    width:100%;
    display:block;*/
    text-align: center;
}
.form{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}



.links li {
    text-decoration:none;
    color:cadetblue;
    list-style:none;
}

.links a:hover{
    color:goldenrod;
    text-decoration:none;
}

.page-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
}

.head-title{
    text-decoration:none;
    color:black;
}
.head-title:hover {
        text-decoration: none;
        color: black;
}
